meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Eternals
link(rel="stylesheet", href="/css/style.css")
link(rel="shortcut icon", href="/image/img/fav-icon.png", type="image/x-icon")
link(href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css", rel="stylesheet")
header
  .nav.container
    a.logo(href="/") Movie 
      span RRific
    .search-box
      input#search-input(type="search", name, placeholder="Search movie")
      i.bx.bx-search-alt
    a.user(href="#")
      img.user-img(src="/image/img/user2.jpg", alt)
    .navbar
      a.nav-link.nav-active(href="index.html")
        i.bx.bxs-home-smile
        span.nav-link-title Home
      a.nav-link(href="#home")
        i.bx.bxs-hot
        span.nav-link-title Trending
      a.nav-link(href="#home")
        i.bx.bx-compass
        span.nav-link-title Explore
      a.nav-link(href="#home")
        i.bx.bxs-tv
        span.nav-link-title Movies
      //
         <a href="#home" class="nav-link">
                            <i class='bx bx-tv'></i>
                            <span class="nav-link-title">Webseries</span>
                        </a> 
//  Play container 
.play-container.container
  img.play-img(src="../image/play-page/play-background 4.jpg", alt)
  .play-text
    h2 Eternals
    .rating
      i.bx.bxs-star
      i.bx.bxs-star
      i.bx.bxs-star
      i.bx.bxs-star
      i.bx.bxs-star-half
    .tags
      span Action
      span Adventure
      span 4K
    //  Trailer Button 
    a.watch-btn(href="#")
      i.bx.bxs-right-arrow
      span Watch the trailer
  i.bx.bxs-right-arrow.play-movie
  //  Video 
  .video-container
    .video-box
      video#myvideo(src="https://drive.google.com/uc?id=1FR4vuOsBw5DYbyOyy5_CVhtku3TrBL_I", controls)
      i.bx.bx-x.close-video
.about-movie.container
  h2 Eternals
  p Following the events of Avengers: Endgame (2019), an unexpected tragedy forces the Eternals, ancient aliens who have been living on Earth in secret for thousands of years, out of the shadows to reunite against mankind's most ancient enemy, the Deviants.
  //  Movie Cast 
  h2.cast-heading Movie Cast
  .cast
    .cast-box
      img.cast-img(src="/image/play-page/Angelina Jolie.jpg", alt)
      span.cast-title Angelina Jolie
    .cast-box
      img.cast-img(src="/image/play-page/Harry Styles.jpg", alt)
      span.cast-title Harry Styles
    .cast-box
      img.cast-img(src="/image/play-page/Gemma Chan.jpg", alt)
      span.cast-title Gemma Chan
    .cast-box
      img.cast-img(src="/image/play-page/Ma Dong-seok.jpg", alt)
      span.cast-title Ma Dong-seok
    .cast-box
      img.cast-img(src="/image/play-page/Kit Harington.jpg", alt)
      span.cast-title Kit Harington
    .cast-box
      img.cast-img(src="/image/play-page/Richard Madden.jpg", alt)
      span.cast-title Richard Madden
//  Download 
.download
  h2.download-title Download Movie
  .download-links
    a(href="https://drive.google.com/uc?id=1FR4vuOsBw5DYbyOyy5_CVhtku3TrBL_I", download) 480p
    a(href="https://drive.google.com/uc?id=1FR4vuOsBw5DYbyOyy5_CVhtku3TrBL_I", download) 720p
    a(href="https://drive.google.com/uc?id=1FR4vuOsBw5DYbyOyy5_CVhtku3TrBL_I", download) 1080p
//  COPYRIGHT 
.copyright
  p © Roudranil All Rights Resolved
script(src="swiper-bundle.min.js")
script(src="main.js")