meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Jungle Cruise
link(rel="stylesheet", href="/css/style.css")
link(rel="shortcut icon", href="/image/img/fav-icon.png", type="image/x-icon")
link(href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css", rel="stylesheet")
header
  .nav.container
    a.logo(href="/") Movie
      span RRific
    .search-box
      input#search-input(type="search", name, placeholder="Search movie")
      i.bx.bx-search-alt
    a.user(href="#")
      img.user-img(src="/image/img/user2.jpg", alt)
    .navbar
      a.nav-link.nav-active(href="index.html")
        i.bx.bxs-home-smile
        span.nav-link-title Home
      a.nav-link(href="#home")
        i.bx.bxs-hot
        span.nav-link-title Trending
      a.nav-link(href="#home")
        i.bx.bx-compass
        span.nav-link-title Explore
      a.nav-link(href="#home")
        i.bx.bxs-tv
        span.nav-link-title Movies
      //
         <a href="#home" class="nav-link">
                            <i class='bx bx-tv'></i>
                            <span class="nav-link-title">Webseries</span>
                        </a> 
//  Play container 
.play-container.container
  img.play-img(src="/image/play-page/play-background 2.jpg", alt)
  .play-text
    h2 Disney's Jungle Cruise
    .rating
      i.bx.bxs-star
      i.bx.bxs-star
      i.bx.bxs-star
      i.bx.bxs-star
      i.bx.bxs-star-half
    .tags
      span Action
      span Adventure
      span 4K
    //  Trailer Button 
    a.watch-btn(href="#")
      i.bx.bxs-right-arrow
      span Watch the trailer
  i.bx.bxs-right-arrow.play-movie
  //  Video 
  .video-container
    .video-box
      video#myvideo(src="https://drive.google.com/uc?id=1wZ6WF3okJCi9J0Iv6WOwZJZj2PLuvqQc", controls)
      i.bx.bx-x.close-video
.about-movie.container
  h2 Disney's Jungle Cruise
  p Dr Lily Houghton, a researcher, and her brother team up with Frank, a skipper, to locate a mystical tree in the Amazon. However, they are pursued by evil entities lusting after immortality.
  //  Movie Cast 
  h2.cast-heading Movie Cast
  .cast
    .cast-box
      img.cast-img(src="/image/play-page/cast1.jpg", alt)
      span.cast-title Dwayne Johnson
    .cast-box
      img.cast-img(src="/image/play-page/Emily Blunt.jpg", alt)
      span.cast-title Emily Blunt
    .cast-box
      img.cast-img(src="/image/play-page/Dani Rovira.jpg", alt)
      span.cast-title Dani Rovira
    .cast-box
      img.cast-img(src="/image/play-page/Edgar Ramirez.jpg", alt)
      span.cast-title Edgar Ramirez
    .cast-box
      img.cast-img(src="/image/play-page/Jesse Plemons.jpg", alt)
      span.cast-title Jesse Plemons
    .cast-box
      img.cast-img(src="/image/play-page/Jack Whitehall.jpg", alt)
      span.cast-title Jack Whitehall
//  Download 
.download
  h2.download-title Download Movie
  .download-links
    a(href="https://drive.google.com/uc?id=1wZ6WF3okJCi9J0Iv6WOwZJZj2PLuvqQc", download) 480p
    a(href="https://drive.google.com/uc?id=1wZ6WF3okJCi9J0Iv6WOwZJZj2PLuvqQc", download) 720p
    a(href="https://drive.google.com/uc?id=1wZ6WF3okJCi9J0Iv6WOwZJZj2PLuvqQc", download) 1080p
//  COPYRIGHT 
.copyright
  p © Roudranil All Rights Resolved
script(src="swiper-bundle.min.js")
script(src="main.js")