meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Shang-Chi
link(rel="stylesheet", href="/css/style.css")
link(rel="shortcut icon", href="/image/img/fav-icon.png", type="image/x-icon")
link(href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css", rel="stylesheet")
header
  .nav.container
    a.logo(href="/") Movie
      span RRific
    .search-box
      input#search-input(type="search", name, placeholder="Search movie")
      i.bx.bx-search-alt
    a.user(href="#")
      img.user-img(src="/image/img/user2.jpg", alt)
    .navbar
      a.nav-link.nav-active(href="index.html")
        i.bx.bxs-home-smile
        span.nav-link-title Home
      a.nav-link(href="#home")
        i.bx.bxs-hot
        span.nav-link-title Trending
      a.nav-link(href="#home")
        i.bx.bx-compass
        span.nav-link-title Explore
      a.nav-link(href="#home")
        i.bx.bxs-tv
        span.nav-link-title Movies
      //
         <a href="#home" class="nav-link">
                            <i class='bx bx-tv'></i>
                            <span class="nav-link-title">Webseries</span>
                        </a> 
//  Play container 
.play-container.container
  img.play-img(src="/image/play-page/play-background 3.jpg", alt)
  .play-text
    h2 Shangchi and the Legend of the Ten Rings
    .rating
      i.bx.bxs-star
      i.bx.bxs-star
      i.bx.bxs-star
      i.bx.bxs-star
      i.bx.bxs-star-half
    .tags
      span Action
      span Adventure
      span 4K
    //  Trailer Button 
    a.watch-btn(href="#")
      i.bx.bxs-right-arrow
      span Watch the trailer
  i.bx.bxs-right-arrow.play-movie
  //  Video 
  .video-container
    .video-box
      video#myvideo(src="https://drive.google.com/uc?id=1csPxE2zsRU5KDpGRnIYgSn305FfLqvm2", controls)
      i.bx.bx-x.close-video
.about-movie.container
  h2 Shang-Chi
  p Shang-Chi, a martial artist, lives a quiet life after he leaves his father and the shadowy Ten Rings organisation behind. Years later, he is forced to confront his past when the Ten Rings attack him.
  //  Movie Cast 
  h2.cast-heading Movie Cast
  .cast
    .cast-box
      img.cast-img(src="/image/play-page/Simu Liu.jpg", alt)
      span.cast-title Simu Liu
    .cast-box
      img.cast-img(src="/image/play-page/Ronny Chieng.jpg", alt)
      span.cast-title Ronny Chieng
    .cast-box
      img.cast-img(src="/image/play-page/Tony Leung.jpg", alt)
      span.cast-title Tony Leung
    .cast-box
      img.cast-img(src="/image/play-page/Stephanie Hsu.jpg", alt)
      span.cast-title Stephanie Hsu
    .cast-box
      img.cast-img(src="/image/play-page/Awkwafina.jpg", alt)
      span.cast-title Awkwafina
    .cast-box
      img.cast-img(src="/image/play-page/Ben Kingsley.jpg", alt)
      span.cast-title Ben Kingsley
//  Download 
.download
  h2.download-title Download Movie
  .download-links
    a(href="https://drive.google.com/uc?id=1csPxE2zsRU5KDpGRnIYgSn305FfLqvm2", download) 480p
    a(href="https://drive.google.com/uc?id=1csPxE2zsRU5KDpGRnIYgSn305FfLqvm2", download) 720p
    a(href="https://drive.google.com/uc?id=1csPxE2zsRU5KDpGRnIYgSn305FfLqvm2", download) 1080p
//  COPYRIGHT 
.copyright
  p © Roudranil All Rights Resolved
script(src="swiper-bundle.min.js")
script(src="main.js")